@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --m-font: 'Montserrat', sans-serif;
    --bg-color: rgb(20, 20, 128);
    --font-color: #fff;
}

.container{
    margin: 40px 40px;
}

li{
    list-style: none;
}
